body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .login-container {
    text-align: center;
    margin-top: 50px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .semana-container {
    width: 80%;
    margin: auto;
  }
  
  .botones-dias {
    display: flex;
    gap: 10px;
  }
  
  .activo {
    background-color: #0056b3;
  }
  /* Estilos generales */
body {
  background-color: #48a1af;
  font-family: Arial, sans-serif;
}

/* Contenedor del Login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Caja blanca del login */
.login-box {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
}

/* Logo */
.logo {
  width: 50%;
  margin-bottom: 10px;
  
}

/* Inputs */
input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Botón de ingresar */
button {
  width: 100%;
  background-color: #48a1af;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #3a8b98;
}

/* Mensajes de error */
.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}
.layout {
  display: flex;
  height: 100vh;
}

.navbar {
  width: 250px; /* Ancho fijo para la barra lateral */
  background-color: white;
  padding: 20px;
  position: fixed; /* Se mantiene fijo en la pantalla */
  height: 100vh; /* Ocupa toda la altura */
  left: 0;
  top: 0;
  overflow-y: auto; /* Permite scroll si hay mucho contenido */
}

.content {
  margin-left: 250px; /* Debe coincidir con el ancho de la navbar */
  padding: 20px;
  flex-grow: 1;
  background-color: #4ea3b1;
  min-height: 100vh;
  display: flex;
  flex-direction: column; /* Asegura que el contenido se apile correctamente */
  align-items: center; /* Centra el contenido si es necesario */
  justify-content: flex-start; /* Evita que el contenido se vaya abajo */
}

